<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header h3">Enter Employee Details</div>
                    <div class="card-body">
                        <input type="text" placeholder="Id"><br>
                        ID <br>
                        <br>
                        <input type="text" placeholder="Firstname"><input class="mx-5" type="text" placeholder="Lastname"><br>
                        Firstname 
                        <span class="lastname">Lastname</span><br><br>
                        <input type="text" placeholder="Email"><br>
                        Email
                    </div>
                    <div class="card-footer"><button class="btn btn-primary">Add</button></div>
                </div>
            </div>
        </div>
    </div>
</section>
